{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in Mathura, India. Founded by Narendra jadaun and Deepak singhal in 2021, the company initially focused on shoes sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.[5][6] as of March 2022, My Awesome Cart held a 39.5% market share of India's e-commerce industry.[7] My Awesome Cart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] My Awesome Cart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2021, U.S.-based retail chain Walmart acquired a 77% controlling stake in My Awesome Cart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">

        <p>We started by assessing all major approaches and enabling technologies globally, but we couldn’t find a solution truly designed around the realities of running a bricks and mortar retail business. To be useful, any solution needs to be powerful yet practical and easy to implement. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">

        <p>Working closely with several retail partners, our engineering team in Australia spent 2 years and $2 million in intense R&D to develop the Kepler Customer Behaviour Sensor and the accompanying approach that would meet the needs of the modern retailer. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">

        <p>We pioneered the concept of in-store sensor technology being invisible by design – technology that doesn’t get in the way of the customer experience or your team’s workflow. Having full control over the technology has enabled us to implement customer behaviour tracking in any retail environment previously considered too challenging, including pop-up booths and large format stores with high shelves.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
